@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=IM+Fell+DW+Pica+SC&display=swap');

#root {
  margin: 0 auto;
  padding: 2rem;
  min-height: 100%;
}

.story {
  text-align: justify;
  width: 60vw;
}

.character-sheet {
  background-color: black;
  color: red;
}

.md-mimic {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.form-field {
  display: table;
}

.input-mui {
  color: black;
  background-color: lightgray;
  border-radius: 8px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Germania One', serif;
}

h1 {
  display: none;
}
h2 {
  font-size: 4em;
}
h3 {
  font-size: 3em;
}
h4 {
  font-size: 2em;
}
h5 {
  font-size: 1.5em;
}
h6 {
  font-size: 1em;
}

a {
  color: #4169e1;
  font-weight: bold;
}
a:hover {
  color: #00bfff;
}

label {
  padding-right: 1em;
  vertical-align: middle;
  display: table-cell;
}

.center {
  text-align: center;
}
.underline {
  text-decoration: underline;
}
